.pagination {
    li {
        cursor: pointer;
        display: inline-flex;

        &:global {
            &.selected {
                a {
                    background-color: rgb(32, 32, 32);
                    color: white;
                }
            }
        }

        a {
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            line-height: 38px;
            border-radius: 10px;
            margin-right: 10px;

            &:hover {
                background-color: rgb(32, 32, 32);
                color: white;
            }
        }
    }
}

.wrapper_pagination {
    text-align: center;
}