@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}


.title {
    padding-bottom: 100px;
}

.parag {
    padding-bottom: 100px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: appear;
}


.modalDialog {
    border-radius: 25px;
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slide-in;
    animation-duration: 1s;
}